.principalContactos {
    margin-top: 50px;
    font-size: 1em;
    color: black;
    padding: 30px;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: space-around;
    row-gap: 50px;
    flex-wrap: wrap;

    .contenedor {
        margin-top: 20px;
        display: flex;
        flex-direction: column;
        font-size: 1.2rem;
        align-items: start;
        flex-wrap: wrap;
        row-gap: 5px;

        .contacto {
            margin-bottom: 15px;
            font-size: 0.8em;
        }

    }

    .principalFormulario {
        display: flex;
        flex-direction: column;
        text-align: left;
        padding: 10px;
        margin: 0 auto;
        font-size: 0.8em;
    }

    .items {
        border: 0;
        outline: none;
        width: 300px;
        height: 30px;
        margin-top: 5px;
        border: solid 1px black;
        border-radius: 5px;
        text-align: left;
        background-color: #f4f4f47a;


    }

    .itemMensaje {
        border: 0;
        outline: none;
        width: 300px;
        height: 100px;
        margin-top: 5px;
        border: solid 1px black;
        border-radius: 5px;
        text-align: left;
        background-color: #f4f4f47a;
    }

    .boton {
        background-color: black;
        border-radius: 5px;
        color: white;
        width: 300px;
        height: 30px;
        margin-top: 10px;
        cursor: pointer;
    }

    .boton:hover {
        transform: scale(1.05);
    }

    .box {
        display: flex;
        flex-direction: column;
        margin-top: 5px;

    }

    .d-none {
        display: none;
    }

    .colorMensajeError {
        background-color: rgba(255, 255, 255, 0.651);
        color: red;

    }

}
.mapa{
    width: 400px;
}

@media (max-width: 768px) {
    .principalContactos {
        font-size: 0.8em;
        .contenedor {
            font-size: 1rem;
            row-gap: 0px;
            .contacto {
                margin-bottom: 15px;
            }

        }

        .items {
            width: 300px;
            height: 20px;

        }

        .itemMensaje {
            height: 50px;
        }

        .boton {
            height: 20px;
        }

        

    }
    .mapa{
        margin-top: 30px;
    width: 300px;
}
}