.cart-drawer {
  position: fixed;
  top: 0;
  right: 0;
  width: 300px;
  height: 100%;
  background: white;
  transform: translateX(100%);
  transition: transform 0.3s ease-in-out;
  z-index: 999;
  overflow-y: auto;
  text-align: center;
  box-shadow: -2px 0 10px rgba(0, 0, 0, 0.2);
}

.cart-drawer.open {
  transform: translateX(0%);
}

.cart-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px;
  border-bottom: 1px solid #ddd;
  background-color: #f9f9f9;
}

.cart-content {
  margin:10px;
}

.close-button {
  color: black;
  background-color: transparent;
  border: none;
  font-size: 20px;
  cursor: pointer;
}

.fa-cart-shopping {
  color: white;
}

.cart-item {
  display: flex;
  flex-direction: column;
  padding-left: 5px;
}


.qtyButton {
  margin: 5px;
  background: none;
  border-radius: 100px;
  cursor: pointer;
  font-style: 18px;
  font-weight: 600;
  border: 0.5px solid #000;
  height: 30px;
  width: 30px;
}

.qtyButton:hover {
  animation: pulse 0.4s;
}
