.titulo {
  font-size: 40px;
  text-align: center;
  padding-top: 60px;
  margin: 30px;
}

.subtitulo {
  margin: 30px;
  font-size: 30px;

}

.parrafo {
  margin: 30px;
  font-size: 20px;
}

.imagenFondo {
  width: 100%;
  height: 500px;
  background-image: url(./assets/imagen.png);
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
}

.tren-wrapper {
  overflow: hidden;
  width: 100%;
}

.tren {
  background-color: #ecc0a4;
  padding: 2rem;
  font-size: 1.5rem;
  position: relative;
  animation: moverTren 12s linear infinite;
  white-space: nowrap;
  text-align: center;
}

@keyframes moverTren {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(100%);
  }
}

.seccionInfo {
  margin: 50px 0px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  gap: 50px;
  font-weight: 300;

  .item {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 15px;
    gap: 20px;

    .fa-bounce,
    .fa-flip,
    .fa-shake {
      font-size: 4em;
      margin: 20px;
      animation-duration: var(--fa-animation-duration, 2s);


    }
  }

}

.container {
  font-family: Arial, sans-serif;
}

.nav {
  padding: 10px;
  display: flex;
  justify-content: space-between;
}



.volver {
  cursor: pointer;
  background: none;
  border: none;
  font-size: 20px;

  .fa-undo-alt {
    color: #F0F0F0;
    ;
  }
}

.navButton {
  cursor: pointer;
  background: none;
  font-size: 20px;
  border: none;

  .fa-right-from-bracket {
    color: #F0F0F0;
  }
}

.navItem:hover {
  transform: scale(1.05);
}


.contenedorForm {
  min-height: 100vh;
  display: flex;
  align-Items: center;
  justify-content: center;
  background-Color: #f5f5f5;

  .form {
    background-color: #fff;
    padding: 2rem;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;

    .tituloform {
      text-align: center;
      font-size: 24px;
      font-weight: bold;
      margin-bottom: 1.5rem;
    }

    .label {
      display: block;
      margin-bottom: 0.5rem;
      font-weight: 600;
    }

    .input {
      width: 380px;
      padding: 0.5rem;
      margin-bottom: 0.5rem;
      border: 1px solid #ccc;
      border-radius: 8px;
      font-size: 16px;
    }

    .botonSubmit {
      height: 36px;
      width: 100%;
      background-color: #000000;
      color: #fff;
      font-weight: bold;
      border: none;
      border-radius: 8px;
      cursor: pointer;
    }

    .botonSubmit:hover {
      transform: scale(1.05);
    }

    .error {
      color: red;
      font-size: 14px;
      margin-block-end: 0.5rem;
    }
  }
}

.form {
  margin: 20px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 20px;
}

.input {
  padding: 10px;
  font-size: 16px;
  border: 1px solid #000;
  border-radius: 10px;
}

.button {
  padding: 10px;
  font-size: 16px;
  background-color: #000000;
  color: white;
  border-radius: 10px;
  border: none;
  cursor: pointer;
}

.button:hover {
  transform: scale(1.01);
}

.list {
  list-style: none;
  padding: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 10px;
}

.list img {
  width: 50px;
  height: 50px;
  margin-right: 10px;
}

.listItem {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  border-bottom: 1px solid #ccc;
}

.listItem span {

  font-size: 18px;
  margin-bottom: 5px;
}

.editButton {
  margin-top: 10px;
  border: none;
  margin-right: 10px;
  cursor: pointer;
  background: none;
  font-size: 18px;

  .fa-edit {
    color: black;
  }
}

.editButton:hover {
  transform: scale(1.05);
}

.deleteButton {
  margin-top: 10px;
  border: none;
  cursor: pointer;
  background: none;
  font-size: 18px;

  .fa-trash-alt {
    color: black
  }
}

.deleteButton:hover {
  transform: scale(1.05);
}

.nav {
  background-color: #000;
  margin: 0%;
}


.botonAbrirFormulario {
  margin: 20px;
  padding: 8px;
  width: 300px;
  background-color: #000000;
  color: rgb(255, 255, 255);
  font-size: 16px;
  border-radius: 10px;
  cursor: pointer;
  border: 1px solid #000000;
  transition: transform 0.2s ease;
}

.botonAbrirFormulario:hover {
  transform: scale(1.05);

}

.navegacion {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  position: relative;
}


.menu-button {
  display: none;
  font-size: 24px;
  background: none;
  border: none;
  cursor: pointer;
  margin-right: 10px;
}

.cartnav {
  display: flex;
  align-items: center;
}

.cart-count {
  font-size: 12px;
  margin-left: 5px;
}

.drawer-menu {
  display: flex !important;
  flex-direction: row;
  position: static;
  transform: none;
  height: auto;
  padding: 0;
  background: transparent;
  box-shadow: none;
}

.menu-button {
  display: none;
}

.contenedorBuscador {
  margin: 30px 30px;

  .buscador {
    margin-right: 5px;
    padding-left: 10px;
    height: 25px;
    width: 300px;
    border-radius: 10px;
  }

  .fa-search {
    font-size: 20px;
  }
}


@media (max-width: 768px) {
  .tren {
    width: 100%;
    height: 50px;
    background-color: #ecc0a4;
    font-size: 12px;
    animation: moverTren 8s linear infinite;
  }

  @keyframes moverTren {
    0% {
      transform: translateX(-100%);
    }

    100% {
      transform: translateX(100%);
    }
  }


  .titulo {
    padding-top: 10px;
    font-size: 30px;
  }

  .imagenFondo {
    width: 100%;
    height: 100px;
  }

  .oferta {
    height: 200px;
  }


  .seccionInfo {
    margin: 40px 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
    font-weight: 300;

    .item {
      display: flex;
      flex-direction: column;
      align-items: center;
      font-size: 8px;
      gap: 10px;

      .fa-bounce,
      .fa-flip,
      .fa-shake {
        font-size: 3em;
        margin: 20px;
        animation-duration: var(--fa-animation-duration, 2s);


      }
    }

  }

  .menu-button {
    display: block;
    font-size: 15px;
  }

  .drawer-menu {
    position: fixed;
    top: 0;
    right: 0;
    width: 250px;
    height: 100%;
    background: white;
    transform: translateX(100%);
    transition: transform 0.3s ease-in-out;
    z-index: 999;
    padding: 20px;
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 16px;
    box-shadow: -2px 0 10px rgba(0, 0, 0, 0.2);
  }

  .drawer-menu.open {
    transform: translateX(0%);
  }


  .contenedorForm {
    justify-content: initial;

    .form {
      align-items: center;
      box-shadow: none;

      .tituloform {
        text-align: center;
        font-size: 24px;
        font-weight: bold;
        margin-bottom: 1.5rem;
      }

      .label {

        display: block;
        margin-bottom: 0.5rem;
        font-weight: 600;

      }

      .input {
        width: 100%;
      }

      .botonSubmit {
        margin-left: 15px;
        width: 55%;
      }

      .link {
        padding-left: 300px;
      }

    }
  }

  .contenedorBuscador {
    .buscador {
      height: 15px;
      width: 150px;
      border-radius: 10px;
    }

    .fa-search {
      font-size: 15px;
    }


  }

  .fa-cart-shopping {
    font-size: 15px;
  }

}