header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: white;
    z-index: 1000;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

}

.ulNavegacion {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    width: 90%;
    gap: 15px;
    margin-right: 40px;
    color: black;
}

.navegacion {
    display: flex;
    flex-direction: row;

}

.liMenu:hover {
    transform: scale(1.05);
}

@keyframes pulse {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.2);
    }

    100% {
        transform: scale(1);
    }
}

ul {
    list-style: none;
}

.link {
    color: black;
    text-decoration: none;

}

footer {
    background-color: #f1f1f1e1;
    text-align: center;
    margin-top: 50px;
    padding-top: 20px;
    padding-bottom: 5px;

    .contenedorFooter {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        gap: 10px;

        .titulos {
            font-size: 12px;
        }

        .item {
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            padding-bottom: 40px;

            .subitem {
                margin-top: 10px;
                display: flex;
                flex-direction: column;
                row-gap: 10px;

                .parrafo {
                    font-size: 0.8em;
                    margin-top: 0%;
                    text-align: start;
                }

                .ulFooter {
                    display: flex;
                    flex-direction: row;
                    flex-wrap: wrap;
                    column-gap: 20px;
                    padding: 0%;
                    margin-top: 10px;

                    font-size: 25px;

                    .fa-square-facebook {
                        color: rgb(33, 33, 161);
                        cursor: pointer;
                    }

                    .fa-instagram {
                        color: fuchsia;
                        cursor: pointer;
                    }

                    .fa-twitter {
                        color: cornflowerblue;
                        cursor: pointer;
                    }
                    .fa-square-facebook:hover,  .fa-instagram:hover,.fa-twitter:hover{
                        transform: scale(1.05);
                    }
                }



                .suscribite {
                    padding: 10px;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    row-gap: 10px;

                    .boton {
                        background-color: black;
                        color: white;
                        width: 100px;
                        height: 25px;
                        font-size: 10px;
                        border-radius: 10px;
                        cursor: pointer;
                    }

                    .boton:hover {
                        transform: scale(1.05);
                    }

                    
                    .box {
                        text-align: left;
                        width: 200px;
                        height: 20px;
                        font-size: 10px;
                    }

                }

            }
        }
    }
}

.btnCart {
    background-color: transparent;
    border: none;
    cursor: pointer;
    width: 5px;
    height: 5px;

    .fa-cart-shopping {
        color: black;
    }
}

.link {
  text-decoration: none;
  color: black;
  font-weight: normal;
}

.link.active {
  font-weight: bold;
  color: #333;
}